.task {
  width: 200px;
  height: 200px;
  border: 1px solid teal;
  border-radius: 10px;
  background-color: rgb(55, 221, 185);
  color: white;
}

.task:hover {
  cursor: pointer;
  background-color: teal;
}

.button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
