.task {
  width: 500px;
  min-width: 500px;
  height: 70px;
  border: 1px solid teal;
  border-radius: 10px;
  background-color: rgb(55, 221, 185);
  color: white;
}

.task:hover {
  background-color: teal;
}

.selectedTask,
.selectedTask:hover {
  background-color: rgb(125, 238, 214);
}

.deleteButton,
.editButton {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background-color: white;
}

.editButton {
  background-color: rgb(35, 155, 133);
}

.Link {
  font-size: 25px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.Link:hover {
  color: white;
  text-decoration: none;
}
