.modal {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.input {
  border-radius: 5px;
  margin: 0 20px 10px 0;
  padding: 8px 15px;
  height: 40px;
}

.input:focus {
  border: 1px solid #1b8d8d;
  box-shadow: 0 0 0 0.1rem rgb(79, 173, 173);
}

.addEditButton,
.cancelButton {
  border: none;
  width: 75px;
  height: 40px;
  color: white;
}
.addEditButton {
  background-color: rgb(27, 141, 141);
}

.addEditButton:hover {
  background-color: rgb(49, 179, 179);
}

.addEditButton:focus {
  background-color: rgb(49, 179, 179);
}

.addEditButton:disabled {
  background-color: rgb(27, 141, 141);
}
