.heading1 {
  font-size: calc(15px + 2vmin);
  color: rgb(174, 191, 206);
}

.delButton {
  width: 25%;
  padding: 5px 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba(189, 241, 226, 0.5);
  border: 1px solid rgb(5, 112, 112);
  border-bottom: none;
  bottom: 0;
}
