.AddTask {
  margin: 50px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  width: 400px;
  border-radius: 5px;
  margin: 0 20px 10px 0;
  padding: 8px 15px;
  height: 40px;
}

.input:focus {
  border: 1px solid rgb(27, 141, 141);
  box-shadow: 0 0 0 0.1rem rgb(79, 173, 173);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 75px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(27, 141, 141);
  color: white;
}

.button:hover {
  background-color: rgb(49, 179, 179);
}

.button:focus {
  background-color: rgb(27, 141, 141);
  box-shadow: none;
}

/* .disabledButton:hover {
  background-color: rgb(27, 141, 141);
} */
