.singleTaskSection {
  max-width: 70%;
  background-color: rgb(55, 221, 185);
  border-radius: 15px;
  box-shadow: 0px 0px 15px teal;
  padding: 35px;
  color: white;
}

.card {
  background-color: rgb(55, 221, 185);
  padding: 15px 25px;
  border: none;
}

.description,
.date {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}

.date {
  margin-bottom: 40px;
}

.deleteButton,
.editButton {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background-color: white;
}

.editButton {
  background-color: rgb(35, 155, 133);
  margin-left: 10px;
}

.loading {
  color: white;
  font-weight: 800;
  font-size: 35px;
}
