.App {
  text-align: center;
  width: 100%;
  background-color: #76dbc0;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: calc(5px + 2vmin);
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

h1 {
  font-size: calc(15px + 2vmin);
  color: rgb(162, 175, 187);
}
