.App {
  text-align: center;
  width: 100%;
  background-image: url("./assets/images/todo.png");
  background-size: 65%;
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: calc(5px + 2vmin);
}

header {
  background-color: rgb(243, 252, 249);
  width: 100%;
  padding: 0 15px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

input[type="checkbox"] {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}

h1 {
  font-size: calc(15px + 2vmin);
  color: rgb(255, 255, 255);
  font-weight: 800;
}
