.heading1 {
  color: white;
  background-color: rgb(125, 238, 214);
  margin-top: 30px;
  padding: 25px 0px;
  width: 100%;
  align-self: center;
  font-weight: 800;
  font-size: 35px;
}

.notFound {
  width: 85%;
}
